@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

body{
  margin: 2%;
  padding: 2%;
  letter-spacing: 2px;
  background: rgb(240,240,255);
  font-family: "Staatliches", cursive;
  background: linear-gradient(90deg, rgba(240,240,255,1) 0%, rgba(9,15,22,1) 88%);
}

.comandos{
  width: 40%;
  padding: 2%;
  margin: 2% auto;
  text-align: center;
  border-radius: 22px;
  border: 2px solid #090f16;
  box-shadow: 0px 4px 0px #090F16,
              0px 6px 8pt #090F16,
              0px 0px 16px rgba(0,0,0,.6);
}

img{
  width: 400px;
}

.reloj{
  width: 80%;
  padding: 4%;
  margin: 4% auto;
  text-align: center;
  border-radius: 22px;
  border: 2px solid #090f16;
  box-shadow: 0px 4px 0px #090F16,
              0px 6px 8pt #090F16,
              0px 0px 16px rgba(0,0,0,.6);
}

h1 {
	font-size: 3rem;
  color: #090f16;
}
h1 > span {
	font-size: 2rem;
	color: #f0f0ff;
}
.dominos-container {
	display: flex;
	gap: 2em;
	align-items: center;
	font-size: 1vw;
}
.colon,
.ampm {
	font-size: 5em;
  color: #f0f0ff;
  -webkit-text-stroke: 0.8px #090F16;
}
.domino {
	width: 12em;
	background: linear-gradient(to bottom right, rgb(9, 15, 22), rgb(17, 17, 17));
	box-shadow: inset 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.2),
		inset -0.1em -0.1em 0.2em rgba(0, 0, 0, 0.9), 0.1em 0.1em 2em rgba(0, 0, 0, 1);
	display: grid;
	border-radius: 1em;
	gap: 2em;
	padding: 2em;
}
.domino::before {
	content: "";
	height: 0.25em;
	background: #f0f0ff;
	grid-row: 2;
	border-radius: 0.25em;
}
.domino .part {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

.part span {
	aspect-ratio: 1/1;
	width: 100%;
	border-radius: 50%;
	box-shadow: inset 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.7),
		inset -0.1em -0.1em 0.1em rgba(255, 255, 255, 0.1);
	background-image: linear-gradient(transparent 50%, rgba(240, 240, 255, 1) 50%);
	background-size: 100% 220%;
	background-position: 0 0%;
	transition: background-position 0.25s ease;
}

.part span.active {
	background-position: 0 -90%;
}
